---
layout: default
---
<div class="signup-navigation">
    <a href="#"><span>Step 1</span> <br> Choose A Theme</a>
    <a href="#" class="active"><span>Step 2</span><br> Basic Info</a>
    <a href="#"><span>Step 3</span> <br> Payment</a>
</div><!--/signup-navigation-->
<div class="signup-page step-4 step-3 step-2 review-page">
    <div class="wrapper">
        <div class="form">
            <h2>Review Your Details</h2>
            <p>Please look over the details you've provided and confirm them before moving on to payment.</p>

            <div class="viewer">
                <img src="/assets/img/california-blue.png" alt="">
            </div><!--/viewer-->
            <!--<div class="form">-->
                <h2>Theme</h2>
                <form action="#">
                    <select class="theme" ng-model="theme">
                        <option value="Cali">California Theme</option>
                        <option value="Charlottesville">Charlottesville Theme</option>
                        <option value="Long_Island">Long_Island Theme</option>
                        <option value="Knoxville">Knoxville Theme</option>
                        <option value="Kitchens">Kitchens Theme</option>
                        -->
                    </select>
                    <p class="theme_description">California is a modern church theme, it features promoted series,
                        ministries and events on the home page. For an example visit <a
                                href="#">biblebaptistmattoon.org</a></p>
                </form>
                <h2>Church Details</h2>
                <h3>The Basics</h3>
                <form action="#">
                    <input type="text" placeholder="THE NAME OF YOUR CHURCH" ng-model="church_name">
                    <input type="text" placeholder="Your city" ng-model="church_location">
                    <input type="text" placeholder="The url you want to use" ng-model="Domain">
                    <fieldset class="url-box">
                        <label for="checkbox1">Do you own it already?</label><input type="checkbox" id="checkbox1"
                                                                                    ng-model="Domain_owned">
                    </fieldset>
                </form>
                <h3>Service Schedule</h3>
                <p>For each service in your service schedule, check the box and enter the name of the service and the
                    time.</p>

                <form action="#">
                    <div class="service-row">
                        <input type="checkbox" id="service-checkbox" ng-model="service1_check">
                        <input type="text" placeholder="Sunday School" value="Sunday School" ng-model="service1_name">
                        <input type="text" placeholder="9:30 am" value="9:30 am" ng-model="service1_time">
                    </div><!--/service-row-->
                    <div class="service-row">
                        <input type="checkbox" id="service-checkbox" ng-model="service2_check">
                        <input type="text" placeholder="Sunday School" value="Sunday AM Service"
                               ng-model="service2_name">
                        <input type="text" placeholder="10:30 am" value="10:30 am" ng-model="service2_time">
                    </div><!--/service-row-->
                    <div class="service-row">
                        <input type="checkbox" id="service-checkbox" ng-model="service3_check">
                        <input type="text" placeholder="Sunday PM" value="Sunday PM" ng-model="service3_name">
                        <input type="text" placeholder="6:00 pm" value="6:00 pm" ng-model="service3_time">
                    </div><!--/service-row-->
                    <div class="service-row">
                        <input type="checkbox" id="service-checkbox" ng-model="service4_check">
                        <input type="text" placeholder="Wednesday Bible Study" value="Wednesday Bible Study"
                               ng-model="service4_name">
                        <input type="text" placeholder="7:00 pm" value="7:00 pm" ng-model="service4_time">
                    </div><!--/service-row-->
                    <div class="service-row">
                        <input type="checkbox" id="service-checkbox" ng-model="service5_check">
                        <input type="text" placeholder="Thursday Kids Club" value="Thursday Kids Club"
                               ng-model="service5_name">
                        <input type="text" placeholder="6:30 pm" value="6:30 pm" ng-model="service5_time">
                    </div><!--/service-row-->
                </form>
                <h3>Pastor &amp; Contact Info</h3>
                <p>This is some of the most important information on your site so we want to set it up right away.</p>

                <form action="#">
                    <input type="text" placeholder="Lead Pastor's Name" ng-model="PastorName">
                    <input type="text" placeholder="Church Address" ng-model="ChurchAddress">
                    <input type="text" placeholder="Church Phone Number" ng-model="ChurchPhone">
                    <input type="text" placeholder="Church Email Adress" ng-model="ChurchEmail">
                </form>
                <h3>Webmaster</h3>
                <p>Who will be the primary person at the church who is managing the site?</p>

                <form action="#">
                    <input type="text" placeholder="Manager's Name?" ng-model="WebLeadName">
                    <input type="text" placeholder="Phone" ng-model="WebLeadPhone">
                    <input type="text" placeholder="Email" ng-model="WebLeadEmail">
                    <input type="text" placeholder="Best time to call" ng-model="BestTimeToCall">
                </form>
                <a href="javascript:void(0)" class="button" ng-click="continue()">Confirm &amp; Proceed to Payment</a>
                <progress max="100" value="100"></progress>
            <!--</div>-->
        <!--/form-->
        </div>
    </div><!--/wrapper-->
</div><!--/signup-page-->