<div class="footer">
        <div class="footer__wrapper">
        <div class="footer__wrapper__contact">
        <img src="http://sitesfor.church/img/footerlogo.png" alt="SITESforCHURCH">
        <p>PO Box 237 Matoon, IL 61938</p>
<p>sitesforchurch@gmail.com</p>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{site.url}}js/app.js"></script>
<script src="{{site.url}}js/custom.js"></script>
<!--<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>-->
<!--<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>-->