<div class="footer">
        <div class="footer__wrapper">
        <div class="footer__wrapper__contact">
        <img src="http://sitesfor.church/img/footerlogo.png" alt="SITESforCHURCH">
        <p>PO Box 237 Matoon, IL 61938</p>
<p>sitesforchurch@gmail.com</p>
</div><!--/footer__wrapper__contact-->
</div><!--/wrapper-->
</div><!--/footer-->

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>